/* Grid Style */

body {
    background-color: #12FFBF;
}
#grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1vw;
    background-color: #12FFBF;
    padding: 0px;
}

.drawingCanvas {
    border: 1px solid black;
    width:100%;
    height:80%;
}
.grid-item {
    background-color: #EF719E;
    border: 0px;
    height: 35vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-title {
    font-family:'Gloria Hallelujah', cursive;
    font-size: 6vw;
    text-align:center;
}

/* Drop Down Menu to choose notes */
.dropdown {
    position: relative;
    min-height: 35vw;
}

.dropButton {
    background-color: #EF719E;
    color: white;
    padding: 1vw;
    font-size: 3vw;
    border: none;
    cursor: pointer;
    width:15vw;
    text-align: left;
}

.musicButton {
    background-color: #EF719E;
    color: white;
    padding: 1vw;
    font-size: 3vw;
    border: none;
    cursor: pointer;
    position:absolute;
    bottom:0;
    left:0;
}

.dropButton:hover, .dropbtn:focus {
    background-color: #F3BC50;
}

.dropdown-content {
    display: none;
    background-color:#F3BC50;
    width: 15vw;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: ghostwhite;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: rgb(241, 179, 54);
}

.show {display: block;}

.simpleButton {
    background-color:transparent;
    border:none;
    font-size: 7vw;
    color: black;
    font-family:'Gloria Hallelujah', cursive;
}

.songLabel {
    background-color:ghostwhite;
    border:none;
    border-radius: 25px;
    font-size: 1.5vw;
    color: black;
    font-family:'Gloria Hallelujah', cursive;
    position:absolute;
    bottom:0;
    right:0;
}
