#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  color: red;
}

#paint {
    border: 3px solid black;
    background: #cccccc;
    margin-left: auto;
    margin-right: auto;
    display: block;
}